body {
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	background-color:#E0DFE4;
}

::cue {
	background-color:transparent;
	text-shadow: 2px 2px 2px #000000;
}

.navigation {
	background-color:#DF5DA2;
	width:96%;
	height:46px;
	z-index:9001;
	box-shadow: 0 0 0 2px #E3E1D6;
	font-size:24px;
	text-align:center;
	margin-top:-34px;
	margin-left:-10px;
	padding-right:96px;
}

.video-container {
	text-align:center;
	position:relative;
}

.center {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

nav ul {
	width:96%;
	list-style-type: none;
}

nav ul li {
	width:31%;
	float:left;
	color:#FFFEF8;
	
}

nav ul li a {
	width:96%;
	display:block;
}

.next-link {
	float:right;
	text-align:right;
	display:inline;
	width:50%;
}

.prev-link {
	text-align:left;
	float:left;
	display:inline;
	width:50%;
}

.links-container {
	width:600px;
}

.login-link {
	text-align:right;
}

.home-link {
	text-align:left;
}

nav a {
	color:#FFFEF8;
	text-decoration:none
}

/* LOGIN FORMS */
#login-container {
	width:340px;
	position:float;
	
}

#login-form {
	background-color:#DF5DA2;
	margin:0 auto;
	margin-top:20px;
	padding-bottom: 15px;
}

#login-form label {
	display:inline-block;
	margin-left:18px;
	padding-top:10px;
	color: #FFFEF8;
}

#login-form input[type=text], input[type=password] {
	padding-left: 10px;
	margin-top: 12px;
	margin-left: 18px;
	margin-bottom: 10px;
	margin-right: 10px;
	width: 290px;
	height: 35px;
}

#login-form input[type=submit] {
	height:35px;
	width:80px;
	margin-bottom: 12px;
}

#login-form div {
	color:#FFFEF8;
	margin-left:50px;
}

#need-to-register {
	margin-left:115px !important;
}

#login-form div a {
	color:#FFFEF8;
	text-decoration:none;
}

.left {
	width: calc((100% /4));
	float: left;
}

.right {
	width: calc((100% /4) *2);
	float: left;
}